// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


body{
    background-color: rgb(218, 172, 89);
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    background-color: rgb(244, 173, 40);
    border-radius: 15px;
}

.box1 {
    background-color: rgb(249, 215, 46);
    border-radius:15px;
    border: black solid 3px;
    text-align:left;
    padding:10px;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #f70505;
    font-weight: 900;
    text-align: left;
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #f70505;
    font-weight: 900;
    text-align: left;
}
.m-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:rgb(81, 68, 50);
}
.reset{
    border:grey solid 0.8px;
    border-radius: 15px;
    height: 2rem;
    color: yellow;
    font-weight: bold;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clicker {
    border: none;
    padding: 0;
    border-radius: 50%;

    img {
        width: 100%;
        border-radius: 50%;
        border: solid white thin;
    }

    &:active {
        transform: scale(98%);
    }

}
.statement{
    font-style: italic;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-top: solid thin gray;
    border-bottom: solid thin gray;
    padding: 1rem 0 0;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.buttons{
    height: 5rem;
    background: transparent;
    text-decoration: none;
    font-weight: bold;	   
    padding: 15px;
    font-size: 1em;
    color: rgb(249,215,46);
	background-color: rgb(218,172,89);
    border-radius: 25px;
    border: 4px solid rgb(249,215,46);
    box-shadow: 3px 3px 12px #444444;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:not(:disabled) {
        background-color: #f70505;
    }

    &:hover {
        padding: 17px;
        border: 4px solid #FFFFFF;
    }
}

.count{
    color:blue;
    font-size: 30px;
    font-weight: bold;

}

.rules{
    border:grey solid 0.8px;
    border-radius: 15px;
    height: 2rem;
    width: auto;
    color: yellow;
    font-weight: bold;
    background-color: blue;
}


 .modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(218, 172, 89);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
}
        
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media (min-width: 576px) {
    body{
        height: 100vh;
        min-height: 32rem;
    }

    .actions {
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .left-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .right-col {
        padding: 2rem;

        img {
            max-height: 12rem;
        }
    }
 }
