// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


body{
    background-color: rgb(218, 172, 89);
    
}
.box1 {
    background-color: rgb(249, 215, 46);
    border-radius:15px;
    border: black solid 3px;
    text-align:left;
    padding:10px;
    margin:2rem;
    height: 90vh;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #f70505;
    font-weight: 900;
    text-align: left;
}

.reset{
    border:grey solid 0.8px;
    border-radius: 15px;
    height: 2rem;
    color: yellow;
    font-weight: bold;
    background-color: blue;
}
.clicker {
    border: none;
    padding: 0;
    border-radius: 50%;

    img {
        width: 100%;
        border-radius: 50%;
        border: solid white thin;
    }

    &:active {
        transform: scale(95%);
    }

}
.statement{
    font-style: italic;
    font-weight: 600;
}

.buttons{
    color:blue;
    background: transparent;
    width:4rem;

    &:not(:disabled) {
        border:solid rgb(250, 70, 70) 2px;
    }
}
.count{
    color:blue;
    font-size: 60px;
    font-weight: bold;

}
#bonusButton {
    color:#f70505;
    font-weight: bold;
    border: solid black 2px;
    background: transparent;
    font: size 12px;
    width: 5rem;
}
#autoClickButton {
    color:#f70505;
    font-weight: bold;
    border: solid black 2px;
    background: transparent;
    font: size 12px;
    width: 5rem;
}
