// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


body{
    background-color: rgb(218, 172, 89);
    
}
.box1 {
    background-color: rgb(249, 215, 46);
    border-radius:15px;
    border: black solid 3px;
    text-align:left;
    padding:10px;
    margin:2rem;
    height: 90vh;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #f70505;
    font-weight: 900;
    text-align: left;
}

.reset{
    border:grey solid 0.8px;
    border-radius: 15px;
    height: 2rem;
    color: yellow;
    font-weight: bold;
    background-color: blue;
}
.clicker {
    border: none;
    padding: 0;
    border-radius: 50%;

    img {
        width: 100%;
        border-radius: 50%;
        border: solid white thin;
    }

    &:active {
        transform: scale(95%);
    }

}
.statement{
    font-style: italic;
    font-weight: 600;
}

.buttons{
    color:blue;
    background: transparent;
    width:4rem;

    &:not(:disabled) {
        border:solid rgb(250, 70, 70) 2px;
    }
}

.count{
    color:blue;
    font-size: 60px;
    font-weight: bold;

}
#bonusButton {
    text-decoration: none;
    padding: 15px;
    font-family: verdana;
    font-size: 1em;
    color: rgb(249,215,46);
    background-color: rgb(218,172,89);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 4px solid rgb(249,215,46);
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
}

#bonusButton:hover {
    padding: 17px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #777777;
    -webkit-box-shadow: 3px 3px 12px #777777;
    -moz-box-shadow: 3px 3px 12px #777777;
    }

#autoClickButton {
    text-decoration: none;
    padding: 15px;
    font-family: verdana;
    font-size: 1em;
    color: rgb(249,215,46);
    background-color: rgb(218,172,89);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 4px solid rgb(249,215,46);
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
}

#autoClickButton:hover {
    padding: 17px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #777777;
    -webkit-box-shadow: 3px 3px 12px #777777;
    -moz-box-shadow: 3px 3px 12px #777777;
    }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(218, 172, 89);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px black;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
  
  